I am a begginer on dart and flutter so all you answer should be explained and teach me everyline of code that you generated. 
and dont make changes on the existing code just modify it so that it doesnt break the functionality of my codes